// Smooth Modern Font
@font-face {
  src: url('../assets/fonts/Inter Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter Medium.woff2') format('woff2');
  font-weight: 500;
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter Light.woff2') format('woff2');
  font-weight: 300;
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
}
@font-face {
  src: url('../assets/fonts/Inter ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Inter Thin.woff2') format('woff2');
  font-weight: 100;
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}

// Smooth Tech Font
@font-face {
  src: url('../assets/fonts/Styrene B Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B BlackItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Styrene B Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Styrene B Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Styrene B Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Styrene B Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Styrene B Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-family: 'Styrene B';
  font-display: swap;
}
@font-face {
  src: url('../assets/fonts/Styrene B ThinItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-family: 'Styrene B';
  font-display: swap;
}
